# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env
.env.*
.python-version

# Package / build artifacts
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Logs
*.log

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

page_cache
